@{
	ViewData["Title"] = "Home Page";
}

<body>
	<div class="sale">
		<img id="sale-img" src="/images/SquishSale.jpeg" alt="Squishmallows">
		<div id="percent-txt" class ="sale-info">50% OFF</div>
		<div id="sale-txt" class ="sale-info">SQUISHMALLOW SALE</div>
		<button id="shop-btn" class="sale-info">SHOP NOW</button>
	</div>
</body>