@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
</head>

<body>
	<div class="sale">
		<img id="sale-img" src="/images/SquishSale.jpeg" alt="Squishmallows">
		<div id="percent-txt" class ="sale-info">50% OFF</div>
		<div id="sale-txt" class ="sale-info">SQUISHMALLOW SALE</div>
		<button id="shop-btn" class="sale-info">SHOP NOW</button>
	</div>
</body>