#sale-img {
    width: 100%;
}

.sale-info {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Malgun Gothic", "Monaco", monospace;
}

#percent-txt {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 20px #000000;
    top: 35%;
    width: 80%;
}

#sale-txt {
    text-align: center;
    font-size: 4.25rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 20px #000000;
    top: 50%;
    width: 80%;
}

#shop-btn {
    font-size: 2rem;
    width: 20%;
}