@{
    ViewData["Title"] = "Home Page";
}

<div class="sale">
	<img id="sale-img" src="/images/Spinners.webp" alt="Fidget spinners">
	<div id="percent-txt" class ="sale-info">50% OFF</div>
	<div id="sale-txt" class ="sale-info">SPRING SPINNER SALE</div>
	<button id="shop-btn" class="sale-info">SHOP NOW</button>
</div>



