@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="guest">
	<p>Sign in or create an account to start shopping!</p>
	<button id="account-btn">@Html.ActionLink("SIGN IN/CREATE AN ACCOUNT", "Index", "Account")</button>
</div>