@model Group1FinalProject.Models.Checkout
@{
	ViewData["Title"] = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
@{
	int TotalItems = 0;
}
@foreach (var product in Model.CheckoutItems)
{
	TotalItems += product.Quantity;
}
<h3>(@TotalItems items)</h3>
<table class="table">
	<thead>
	<tr>
		<th></th>
		<th>
			Product Name
		</th>
		<th>
			Price
		</th>
		<th>
			Quantity
		</th>
		<th></th>
	</tr>
	</thead>
</table>
<tbody>
@foreach (var product in Model.CheckoutItems)
{
	<tr>
		
			@Html.DisplayFor(modelItem => product.ProductName)
			$@Html.DisplayFor(modelItem => product.Price)
			<div id="price"></div>
		

	</tr>
}
</tbody>
<div class="summary">
	<h2 id="summary-txt" class="summary-info">Summary</h2>
	<div class="summary-info">
		Subtotal
		<span>$@Html.DisplayFor(modelItem => Model.Subtotal)</span>
	</div>
	<div class="summary-info">
		Shipping & Handling
		<span>FREE</span>
	</div>
	<div class="summary-info">
		Taxes
		<span>$@Html.DisplayFor(modelItem => Model.Taxes)</span>
	</div>
	<hr/>
	<div class="summary-info">
		Total
		<span>$@Html.DisplayFor(modelItem => Model.Total)</span>
	</div>

	<button id="purchase" class="summary-info" onclick="location.href='@Url.Action("Purchase", "Checkout")'">Purchase </button>
</div>
