@model Group1FinalProject.Models.CheckoutModel
@{
	ViewData["Title"] = "Purchase Complete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<h2>Please check your inbox for email confirmation!</h2>
<h2>Thanks for shopping with ToysZoid :)</h2>

