<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - ToysZoid</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/Group1FinalProject.styles.css" asp-append-version="true"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
				<img id="logo" src="/images/Logo.png" alt="Logo"/>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<div class="categories-dropdown">
							<button class="dropdown-button">Categories</button>
							<div class="categories-content">
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Shop All Toys</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">On Sale</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Fidgets">Fidgets</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Funkos">Funko Pops</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Legos">Legos</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Puzzles">Puzzles</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Squishmallows">Squishmallows</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<input type="text" placeholder="Search">
					</li>
					<li id="sign-in" class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Sign In</a>
					</li>
					<li id="cart" class="nav-item">
						<div class="cart-btn">
							<a asp-area="" asp-controller="Cart" asp-action="Index">
								<img id="cart-img" src="/images/Cart.png" alt="Cart"/>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2022 - Group1FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
