<!DOCTYPE html>
<html lang="en" class="no-js">
   <head>
      <!-- Styles -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link href="vendor/animate/animate.css" rel="stylesheet" type="text/css"/>
      <link href="css/style.css" rel="stylesheet" type="text/css"/>
   </head>
   <body>
         <div id="toggler" class="wrapper custom-toggler navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <div class="menu-toggle">
               <span class="icon-bars custom-toggler navbar-toggler-icon" left = 80%></span>
            </div>
         </div>
         <div id="toggle-nav" class="navbar-collapse collapse">
            <div id="social"><p>Your it to gave life whom as. Favourable dissimilar resolution led for and had.</p></div>
         </div>
      </nav>
      <div class="Container">
         <div class="Content">
            <div class="Wrapper">
               <div class="LeftContent col-xl-6 col-sm-12 split-image-left background-2">
               </div>
               <div class="RightContent col-xl-6 col-sm-12 split-image-right">
                  <div class="row justify-content-center">
                     <div class="col-9">
                        <div class="row">
                           <div>
                              <p>Welcome to ToysZoid. Your #1 hotspot for brilliant toys, infant items, diversions, kids books and music, stationary utilities, and more. 
                                 <br><br>
                                 We are committed to giving you the plain best with attention to the most astounding quality, unwavering quality, client administration, and uniqueness. 
                              </p>
                              <img class="img-fluid pt-5 pb-5" src="img/photo-3.jpg" alt="Photo">
                              <p>After its establishment in 1985, ToysZoid made considerable progress in the past 30+ years. Presently, we have 17 toy shops in various areas in Maharashtra. 
                                 <br><br>
                                 We have an arrangement for extending crosswise over America. On the off chance that you are keen on collaborating with us for an establishment store, you are most free to apply for it here. 
                              </p>
                              <img class="img-fluid pt-5 pb-5" src="img/photo-5.jpg" alt="Photo">
                              <p>We convey items crosswise over America through our numerous distribution centers and retail accomplices.
                                 <br><br>
                                 We do not simply move toys, we are energetic about them.
                              <p> We are sure that you will make the most of our items as much as we appreciate offering them to you. In the event that you have any inquiries or remarks, kindly do not dither to get in touch with us. We would love to get a notification from you.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Javascript -->
      <script src="vendor/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="vendor/wow/wow.js"></script>
      <script src="js/script.js"></script>
      <script>
         new WOW().init();
      </script>
      <!-- End Javascript -->
   </body>
</html>
