<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
          <div class="hours details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address & Hours</div>
          <div class="text-one">Online Store.</div>
          <div class="text-two">Everyday 11 a.m - 8 p.m.</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+1800 1234 5678</div>
          <div class="text-two">+1800 5678 1234</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">group1finalproject@gmail.com</div>
          <div class="text-two">info.group1finalproject@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Tell Us What You Think!</div>
        <p>Giving the best support to you is our priority. We know you're a real person with real questions. Just let us know what you need. Just fill out the feedback form below and we’ll respond as soon as possible.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <input type="text" placeholder="Enter your message">
        </div>
      </form>
      <div class="button">
		  <button class="shop-btn" onclick="location.href='@Url.Action("Feedback", "Contact")'">Send Now</button>
	  </div>
    </div>
    </div>
  </div>
</body>
</html>
